<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/navbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block head %}
        {% endblock %}
    </head>
    <div class="navbar">
        {% block navbar_title %}
            <p>Book Recommender System</p>
        {% endblock %}
        {% block home_button %}
        {% endblock %}
        {% block return_button %}
        {% endblock %}
    </div>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>